In [1]:
!pip install -r requirements.txt

In [16]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt



%matplotlib inline

## Carico i dati

In [17]:
dataset = pd.read_csv('call_center.csv')
dataset

,Churn,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,No,4223-BKEOR,Female,0,No,Yes,21,Yes,No,DSL,...,No,Yes,No,No,Yes,One year,No,Mailed check,64.85,1336.8
1,No,6035-RIIOM,Female,0,No,No,54,Yes,Yes,Fiber optic,...,Yes,No,No,Yes,Yes,Two year,Yes,Bank transfer (automatic),97.20,5129.45
2,Yes,3797-VTIDR,Male,0,Yes,No,1,No,No phone service,DSL,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,23.45,23.45
3,Yes,2568-BRGYX,Male,0,No,No,4,Yes,No,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.20,237.95
4,No,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,Yes,0684-AOSIH,Male,0,Yes,No,1,Yes,No,Fiber optic,...,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,95.00,95
5630,No,5982-PSMKW,Female,0,Yes,Yes,23,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),91.10,2198.3
5631,No,8044-BGWPI,Male,0,Yes,Yes,12,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Electronic check,21.15,306.05
5632,Yes,7450-NWRTR,Male,1,No,No,12,Yes,Yes,Fiber optic,...,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.45,1200.15
5633,No,4795-UXVCJ,Male,0,No,No,26,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Credit card (automatic),19.80,457.3

In [18]:
for col in dataset.columns: #scorro tutte le colonne
    print("Colonna",col,":",dataset[col].unique())
    
dataset.info()

Colonna Churn : ['No' 'Yes']
Colonna customerID : ['4223-BKEOR' '6035-RIIOM' '3797-VTIDR' ... '8044-BGWPI' '7450-NWRTR'
 '4795-UXVCJ']
Colonna gender : ['Female' 'Male']
Colonna SeniorCitizen : [0 1]
Colonna Partner : ['No' 'Yes']
Colonna Dependents : ['Yes' 'No']
Colonna tenure : [21 54  1  4  0  7 32 72 19 10 45 40 47 36 69 71 35  3 68 42  8 46 12 26
 49 33 31 66 58 13 57  6 59 15 27 34 18  5 39 29  2 63 20 14 56 37 24 52
 43 11 16 50 38 23 55 48 53 70 22 28 44 65 64 60 51  9 25 61 30 17 41 67
 62]
Colonna PhoneService : ['Yes' 'No']
Colonna MultipleLines : ['No' 'Yes' 'No phone service']
Colonna InternetService : ['DSL' 'Fiber optic' 'No']
Colonna OnlineSecurity : ['Yes' 'No' 'No internet service']
Colonna OnlineBackup : ['No' 'Yes' 'No internet service']
Colonna DeviceProtection : ['Yes' 'No' 'No internet service']
Colonna TechSupport : ['No' 'Yes' 'No internet service']
Colonna StreamingTV : ['No' 'Yes' 'No internet service']
Colonna StreamingMovies : ['Yes' 'No' 'No internet service']
Colonna Contract : ['One year' 'Two year' 'Month-to-month']
Colonna PaperlessBilling : ['No' 'Yes']
Colonna PaymentMethod : ['Mailed check' 'Bank transfer (automatic)' 'Electronic check'
 'Credit card (automatic)']
Colonna MonthlyCharges : [64.85 97.2  23.45 ... 59.25 35.35 21.15]
Colonna TotalCharges : ['1336.8' '5129.45' '23.45' ... '306.05' '1200.15' '457.3']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5634 entries, 0 to 5633
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             5634 non-null   object
 1   customerID        5634 non-null   object
 2   gender            5634 non-null   object
 3   SeniorCitizen     5634 non-null   int64
 4   Partner           5634 non-null   object
 5   Dependents        5634 non-null   object
 6   tenure            5634 non-null   int64
 7   PhoneService      5634 non-null   object
 8   MultipleLines     5634 non-null   object
 9   InternetService   5634 non-null   object
 10  OnlineSecurity    5634 non-null   object
 11  OnlineBackup      5634 non-null   object
 12  DeviceProtection  5634 non-null   object
 13  TechSupport       5634 non-null   object
 14  StreamingTV       5634 non-null   object
 15  StreamingMovies   5634 non-null   object
 16  Contract          5634 non-null   object
 17  PaperlessBilling  5634 non-null   object
 18  PaymentMethod     5634 non-null   object
 19  MonthlyCharges    5634 non-null   float64
 20  TotalCharges      5634 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 924.5+ KB


>> **Nella cella sottostante trasformo i dati della colonna 'TotalCharges' che ho verificato sia numerica, ma riconosciuta come object, quindi la ritrasformo in numerica e metto a null ciò che non viene trasformato.**

>**All' inizio ho provato rimuovendo le righe con contenuti null, ma ho visto che con un imputazione (sostituendo i null con la media della colonna) la mia accuracy aumentava**

In [19]:
dataset['TotalCharges'] = pd.to_numeric(dataset['TotalCharges'], errors='coerce')
#dataset = dataset.dropna() 
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5634 entries, 0 to 5633
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             5634 non-null   object
 1   customerID        5634 non-null   object
 2   gender            5634 non-null   object
 3   SeniorCitizen     5634 non-null   int64
 4   Partner           5634 non-null   object
 5   Dependents        5634 non-null   object
 6   tenure            5634 non-null   int64
 7   PhoneService      5634 non-null   object
 8   MultipleLines     5634 non-null   object
 9   InternetService   5634 non-null   object
 10  OnlineSecurity    5634 non-null   object
 11  OnlineBackup      5634 non-null   object
 12  DeviceProtection  5634 non-null   object
 13  TechSupport       5634 non-null   object
 14  StreamingTV       5634 non-null   object
 15  StreamingMovies   5634 non-null   object
 16  Contract          5634 non-null   object
 17  PaperlessBilling  5634 non-null   object
 18  PaymentMethod     5634 non-null   object
 19  MonthlyCharges    5634 non-null   float64
 20  TotalCharges      5624 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 924.5+ KB

## Imputazione
>**ora sostituisco le celle nulle con un imputazione che mi sostituisce i valori nulli con la media per le features numeriche e il valore piu frequente per le features categoriche**

>>**L' imputazione è un processo di correzione di valori nulli di un dataset, in particolare, servendosi di SimpleImputer, possiamo scegliere se sostituire i valori nulli con molte strategie("most_frequent","mean", ecc.) questo ci serve a seconda che le colonne di sostituzione siano colonne categoriche oppure colonne dal contenuto numerico**

In [20]:
from sklearn.impute import SimpleImputer


dataset_imputed = dataset.copy()
numeric_features = dataset_imputed.select_dtypes(include= ['int64','float64'])
categorical_features = dataset_imputed.select_dtypes(include= 'object')


numerical_imputer = SimpleImputer(strategy='mean')
categorical_imputer = SimpleImputer(strategy='most_frequent')


numeric_features_new = pd.DataFrame(numerical_imputer.fit_transform(numeric_features))
#rmettiamo le colonne
numeric_features_new.columns = numeric_features.columns
    
categorical_features_new = pd.DataFrame(categorical_imputer.fit_transform(categorical_features))
#rmettiamo le colonne
categorical_features_new.columns = categorical_features.columns
    
#imputazione rimuove le colonne, le rimettiamo
dataset_joined = pd.concat([numeric_features_new,categorical_features_new],axis=1)
print (numeric_features.columns)
print (categorical_features.columns)

dataset_joined.info()

Index(['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges'], dtype='object')
Index(['Churn', 'customerID', 'gender', 'Partner', 'Dependents',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5634 entries, 0 to 5633
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SeniorCitizen     5634 non-null   float64
 1   tenure            5634 non-null   float64
 2   MonthlyCharges    5634 non-null   float64
 3   TotalCharges      5634 non-null   float64
 4   Churn             5634 non-null   object
 5   customerID        5634 non-null   object
 6   gender            5634 non-null   object
 7   Partner           5634 non-null   object
 8   Dependents        5634 non-null   object
 9   PhoneService      5634 non-null   object
 10  MultipleLines     5634 non-null   object
 11  InternetService   5634 non-null   object
 12  OnlineSecurity    5634 non-null   object
 13  OnlineBackup      5634 non-null   object
 14  DeviceProtection  5634 non-null   object
 15  TechSupport       5634 non-null   object
 16  StreamingTV       5634 non-null   object
 17  StreamingMovies   5634 non-null   object
 18  Contract          5634 non-null   object
 19  PaperlessBilling  5634 non-null   object
 20  PaymentMethod     5634 non-null   object
dtypes: float64(4), object(17)
memory usage: 924.5+ KB

>**Avere nelle colonne  "No internet/phone service" equivale secondo me ad avere un 'No', risolvo con un replace su tutte le colonne e le righe**

In [21]:
dataset_joined= dataset_joined.replace('No internet service','No')
dataset_joined= dataset_joined.replace('No phone service','No')
for col in dataset_joined.columns: #scorro tutte le colonne
    print("Colonna",col,":",dataset_joined[col].unique())

Colonna SeniorCitizen : [0. 1.]
Colonna tenure : [21. 54.  1.  4.  0.  7. 32. 72. 19. 10. 45. 40. 47. 36. 69. 71. 35.  3.
 68. 42.  8. 46. 12. 26. 49. 33. 31. 66. 58. 13. 57.  6. 59. 15. 27. 34.
 18.  5. 39. 29.  2. 63. 20. 14. 56. 37. 24. 52. 43. 11. 16. 50. 38. 23.
 55. 48. 53. 70. 22. 28. 44. 65. 64. 60. 51.  9. 25. 61. 30. 17. 41. 67.
 62.]
Colonna MonthlyCharges : [64.85 97.2  23.45 ... 59.25 35.35 21.15]
Colonna TotalCharges : [1336.8  5129.45   23.45 ...  306.05 1200.15  457.3 ]
Colonna Churn : ['No' 'Yes']
Colonna customerID : ['4223-BKEOR' '6035-RIIOM' '3797-VTIDR' ... '8044-BGWPI' '7450-NWRTR'
 '4795-UXVCJ']
Colonna gender : ['Female' 'Male']
Colonna Partner : ['No' 'Yes']
Colonna Dependents : ['Yes' 'No']
Colonna PhoneService : ['Yes' 'No']
Colonna MultipleLines : ['No' 'Yes']
Colonna InternetService : ['DSL' 'Fiber optic' 'No']
Colonna OnlineSecurity : ['Yes' 'No']
Colonna OnlineBackup : ['No' 'Yes']
Colonna DeviceProtection : ['Yes' 'No']
Colonna TechSupport : ['No' 'Yes']
Colonna StreamingTV : ['No' 'Yes']
Colonna StreamingMovies : ['Yes' 'No']
Colonna Contract : ['One year' 'Two year' 'Month-to-month']
Colonna PaperlessBilling : ['No' 'Yes']
Colonna PaymentMethod : ['Mailed check' 'Bank transfer (automatic)' 'Electronic check'
 'Credit card (automatic)']

>**Applico una tecnica di Binning a 'TotalCharges' che mi crea un intervallo categorico invece di avere un numero float64 nudo e crudo, credo che avere un intervallo sia più descrittivo durante il processo di previsione di un pattern predittivo**
>>**Uso qcut di Pandas che mi aiuta a a trovare questi intervalli con una tecnica basata sui quartili ( quindi 5 elementi da 0 a 4) che mi divide lo spazio in 5 intervalli provo a vedere l' accuratezza nel caso dei quartili e dei decili e vedo l' accuracy**

In [22]:
dataset_joined['ChargesBin'] = pd.qcut(dataset_joined['TotalCharges'],10)
dataset_joined = dataset_joined.drop(columns=['TotalCharges'])

dataset_joined['MonthlyChargesBin'] = pd.qcut(dataset_joined['MonthlyCharges'],10)
dataset_joined = dataset_joined.drop(columns=['MonthlyCharges'])
dataset_joined

,SeniorCitizen,tenure,Churn,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,ChargesBin,MonthlyChargesBin
0,0.0,21.0,No,4223-BKEOR,Female,No,Yes,Yes,No,DSL,...,No,Yes,No,No,Yes,One year,No,Mailed check,"(953.74, 1412.825]","(58.66, 70.525]"
1,0.0,54.0,No,6035-RIIOM,Female,No,No,Yes,Yes,Fiber optic,...,Yes,No,No,Yes,Yes,Two year,Yes,Bank transfer (automatic),"(4474.43, 5980.295]","(94.35, 102.6]"
2,0.0,1.0,Yes,3797-VTIDR,Male,Yes,No,No,No,DSL,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,"(18.799, 85.115]","(20.065, 25.1]"
3,0.0,4.0,Yes,2568-BRGYX,Male,No,No,Yes,No,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,"(85.115, 275.7]","(58.66, 70.525]"
4,0.0,0.0,No,2775-SEFEE,Male,No,Yes,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),"(2093.3, 3126.49]","(58.66, 70.525]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,0.0,1.0,Yes,0684-AOSIH,Male,Yes,No,Yes,No,Fiber optic,...,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,"(85.115, 275.7]","(94.35, 102.6]"
5630,0.0,23.0,No,5982-PSMKW,Female,Yes,Yes,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),"(2093.3, 3126.49]","(85.65, 94.35]"
5631,0.0,12.0,No,8044-BGWPI,Male,Yes,Yes,Yes,No,No,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,"(275.7, 564.62]","(20.065, 25.1]"
5632,1.0,12.0,Yes,7450-NWRTR,Male,No,No,Yes,Yes,Fiber optic,...,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,"(953.74, 1412.825]","(94.35, 102.6]"
5633,0.0,26.0,No,4795-UXVCJ,Male,No,No,Yes,No,No,...,No,No,No,No,No,One year,No,Credit card (automatic),"(275.7, 564.62]","(18.249, 20.065]"

>**il dataset sembra pulito ma per sicurezza rimuovo i caratteri che mi potrebbero dare fastidio**

In [23]:
spuri = ['?','#','@',',','.',' ']

data_remove=dataset_joined.copy()
for i in data_remove.columns:
    
    for j in spuri:
        
        if( j in data_remove[i].to_list()):
            data_remove[i]=data_remove[i].replace(j,np.NaN)
            
for col in data_remove.columns: #scorro tutte le colonne
    print("Colonna",col,":",data_remove[col].unique())
    
data_remove

Colonna SeniorCitizen : [0. 1.]
Colonna tenure : [21. 54.  1.  4.  0.  7. 32. 72. 19. 10. 45. 40. 47. 36. 69. 71. 35.  3.
 68. 42.  8. 46. 12. 26. 49. 33. 31. 66. 58. 13. 57.  6. 59. 15. 27. 34.
 18.  5. 39. 29.  2. 63. 20. 14. 56. 37. 24. 52. 43. 11. 16. 50. 38. 23.
 55. 48. 53. 70. 22. 28. 44. 65. 64. 60. 51.  9. 25. 61. 30. 17. 41. 67.
 62.]
Colonna Churn : ['No' 'Yes']
Colonna customerID : ['4223-BKEOR' '6035-RIIOM' '3797-VTIDR' ... '8044-BGWPI' '7450-NWRTR'
 '4795-UXVCJ']
Colonna gender : ['Female' 'Male']
Colonna Partner : ['No' 'Yes']
Colonna Dependents : ['Yes' 'No']
Colonna PhoneService : ['Yes' 'No']
Colonna MultipleLines : ['No' 'Yes']
Colonna InternetService : ['DSL' 'Fiber optic' 'No']
Colonna OnlineSecurity : ['Yes' 'No']
Colonna OnlineBackup : ['No' 'Yes']
Colonna DeviceProtection : ['Yes' 'No']
Colonna TechSupport : ['No' 'Yes']
Colonna StreamingTV : ['No' 'Yes']
Colonna StreamingMovies : ['Yes' 'No']
Colonna Contract : ['One year' 'Two year' 'Month-to-month']
Colonna PaperlessBilling : ['No' 'Yes']
Colonna PaymentMethod : ['Mailed check' 'Bank transfer (automatic)' 'Electronic check'
 'Credit card (automatic)']
Colonna ChargesBin : [(953.74, 1412.825], (4474.43, 5980.295], (18.799, 85.115], (85.115, 275.7], (2093.3, 3126.49], (275.7, 564.62], (564.62, 953.74], (1412.825, 2093.3], (3126.49, 4474.43], (5980.295, 8684.8]]
Categories (10, interval[float64]): [(18.799, 85.115] < (85.115, 275.7] < (275.7, 564.62] < (564.62, 953.74] ... (2093.3, 3126.49] < (3126.49, 4474.43] < (4474.43, 5980.295] < (5980.295, 8684.8]]
Colonna MonthlyChargesBin : [(58.66, 70.525], (94.35, 102.6], (20.065, 25.1], (18.249, 20.065], (25.1, 45.85], (102.6, 118.6], (45.85, 58.66], (79.29, 85.65], (85.65, 94.35], (70.525, 79.29]]
Categories (10, interval[float64]): [(18.249, 20.065] < (20.065, 25.1] < (25.1, 45.85] < (45.85, 58.66] ... (79.29, 85.65] < (85.65, 94.35] < (94.35, 102.6] < (102.6, 118.6]]

,SeniorCitizen,tenure,Churn,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,ChargesBin,MonthlyChargesBin
0,0.0,21.0,No,4223-BKEOR,Female,No,Yes,Yes,No,DSL,...,No,Yes,No,No,Yes,One year,No,Mailed check,"(953.74, 1412.825]","(58.66, 70.525]"
1,0.0,54.0,No,6035-RIIOM,Female,No,No,Yes,Yes,Fiber optic,...,Yes,No,No,Yes,Yes,Two year,Yes,Bank transfer (automatic),"(4474.43, 5980.295]","(94.35, 102.6]"
2,0.0,1.0,Yes,3797-VTIDR,Male,Yes,No,No,No,DSL,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,"(18.799, 85.115]","(20.065, 25.1]"
3,0.0,4.0,Yes,2568-BRGYX,Male,No,No,Yes,No,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,"(85.115, 275.7]","(58.66, 70.525]"
4,0.0,0.0,No,2775-SEFEE,Male,No,Yes,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),"(2093.3, 3126.49]","(58.66, 70.525]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,0.0,1.0,Yes,0684-AOSIH,Male,Yes,No,Yes,No,Fiber optic,...,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,"(85.115, 275.7]","(94.35, 102.6]"
5630,0.0,23.0,No,5982-PSMKW,Female,Yes,Yes,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),"(2093.3, 3126.49]","(85.65, 94.35]"
5631,0.0,12.0,No,8044-BGWPI,Male,Yes,Yes,Yes,No,No,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,"(275.7, 564.62]","(20.065, 25.1]"
5632,1.0,12.0,Yes,7450-NWRTR,Male,No,No,Yes,Yes,Fiber optic,...,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,"(953.74, 1412.825]","(94.35, 102.6]"
5633,0.0,26.0,No,4795-UXVCJ,Male,No,No,Yes,No,No,...,No,No,No,No,No,One year,No,Credit card (automatic),"(275.7, 564.62]","(18.249, 20.065]"

## Label encoding delle variabili categoriche

In [24]:
from sklearn.preprocessing import LabelEncoder

label = LabelEncoder()

data_label = dataset_joined.copy()

for features in data_label:
    data_label[features]=label.fit_transform(data_label[features])
    
for col in data_label.columns: #scorro tutte le colonne
    print("Colonna",col,":",data_label[col].unique())
    
data_label

Colonna SeniorCitizen : [0 1]
Colonna tenure : [21 54  1  4  0  7 32 72 19 10 45 40 47 36 69 71 35  3 68 42  8 46 12 26
 49 33 31 66 58 13 57  6 59 15 27 34 18  5 39 29  2 63 20 14 56 37 24 52
 43 11 16 50 38 23 55 48 53 70 22 28 44 65 64 60 51  9 25 61 30 17 41 67
 62]
Colonna Churn : [0 1]
Colonna customerID : [2370 3457 2149 ... 4591 4247 2700]
Colonna gender : [0 1]
Colonna Partner : [0 1]
Colonna Dependents : [1 0]
Colonna PhoneService : [1 0]
Colonna MultipleLines : [0 1]
Colonna InternetService : [0 1 2]
Colonna OnlineSecurity : [1 0]
Colonna OnlineBackup : [0 1]
Colonna DeviceProtection : [1 0]
Colonna TechSupport : [0 1]
Colonna StreamingTV : [0 1]
Colonna StreamingMovies : [1 0]
Colonna Contract : [1 2 0]
Colonna PaperlessBilling : [0 1]
Colonna PaymentMethod : [3 0 2 1]
Colonna ChargesBin : [4 8 0 1 6 2 3 5 7 9]
Colonna MonthlyChargesBin : [4 8 1 0 2 9 3 6 7 5]

,SeniorCitizen,tenure,Churn,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,ChargesBin,MonthlyChargesBin
0,0,21,0,2370,0,0,1,1,0,0,...,0,1,0,0,1,1,0,3,4,4
1,0,54,0,3457,0,0,0,1,1,1,...,1,0,0,1,1,2,1,0,8,8
2,0,1,1,2149,1,1,0,0,0,0,...,0,0,0,0,0,0,1,2,0,1
3,0,4,1,1426,1,0,0,1,0,1,...,0,0,0,0,0,0,1,2,1,4
4,0,0,0,1545,1,0,1,1,1,0,...,1,0,1,0,0,2,1,0,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,0,1,1,375,1,1,0,1,0,1,...,0,0,0,1,1,0,1,2,1,8
5630,0,23,0,3418,0,1,1,1,1,0,...,1,1,1,1,1,2,1,1,6,7
5631,0,12,0,4591,1,1,1,1,0,2,...,0,0,0,0,0,0,1,2,2,1
5632,1,12,1,4247,1,0,0,1,1,1,...,0,1,0,1,1,0,1,2,4,8
5633,0,26,0,2700,1,0,0,1,0,2,...,0,0,0,0,0,1,0,1,2,0

## DIVISIONE TRA X y

In [25]:
y = data_label['Churn']
X = data_label.drop(['Churn'],axis = 1)
print(y)
X

0       0
1       0
2       1
3       1
4       0
       ..
5629    1
5630    0
5631    0
5632    1
5633    0
Name: Churn, Length: 5634, dtype: int64

,SeniorCitizen,tenure,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,ChargesBin,MonthlyChargesBin
0,0,21,2370,0,0,1,1,0,0,1,0,1,0,0,1,1,0,3,4,4
1,0,54,3457,0,0,0,1,1,1,0,1,0,0,1,1,2,1,0,8,8
2,0,1,2149,1,1,0,0,0,0,0,0,0,0,0,0,0,1,2,0,1
3,0,4,1426,1,0,0,1,0,1,0,0,0,0,0,0,0,1,2,1,4
4,0,0,1545,1,0,1,1,1,0,1,1,0,1,0,0,2,1,0,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,0,1,375,1,1,0,1,0,1,1,0,0,0,1,1,0,1,2,1,8
5630,0,23,3418,0,1,1,1,1,0,1,1,1,1,1,1,2,1,1,6,7
5631,0,12,4591,1,1,1,1,0,2,0,0,0,0,0,0,0,1,2,2,1
5632,1,12,4247,1,0,0,1,1,1,0,0,1,0,1,1,0,1,2,4,8
5633,0,26,2700,1,0,0,1,0,2,0,0,0,0,0,0,1,0,1,2,0

## Faccio ora features selection

> **Eseguo un features selection provando sia una Regolarizzazione di tipo l1 'Lasso' che mi abbate i pesi con un fattore di regolarizzazione da aggiungere alla loss function**
>> $$R(\boldsymbol{w}) = \sum_l \left | w_l \right |$$

>> **esso mi abbatte i pesi usando una discesa del gradiente che penalizza in modulo i pesi quindi dando lo stesso equilibrio sia ai pesi grandi che ai pesi piccoli**

>**Inoltre sperimento un abbattimento dei pesi anche servendomi di una Ridge regression la quale ha un fattore di regolarizzazione che abbatte i valori dei pesi piu grandi(ne fà il quadrato e li aggiunge alla Loss) piuttosto che quelli piccoli ( quelli tra 0 e 1 vengono rimpiccioliti con il quadrato) sempre usando una discesa del gradiente**
>> $$R(\boldsymbol{w}) = \sum_l  w_l^2 $$


>**Uso per fare tutto ciò un meta_trasformatore chiamto SelectFromModel a cui serve uno stimatore passatogli come parametro per restituire con il metodo .get_support() una lista di booleani che mi corrispondono alle features da scegliere oppure no**

In [60]:
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge


Ridge= Ridge(alpha =0.1,random_state = 0,max_iter =100).fit(X,y)
Ridge_model = SelectFromModel(Ridge, prefit =True) 


lasso_model = SelectFromModel(Lasso(max_iter = 1000, alpha = 0.01,random_state = 0))
lasso_model.fit(X,y)


features_sel_Lasso = X.columns[lasso_model.get_support()]
print("Con la lasso avevo :" ,X.columns.size, "ora ne ho:",features_sel_Lasso.size)
print(features_sel_Lasso.to_list())

features_sel_Ridge = X.columns[Ridge_model.get_support()]
print("Con la Ridge avevo :" ,X.columns.size, "ora ne ho:",features_sel_Ridge.size)
print(features_sel_Ridge.to_list())

X_new = X[features_sel_Lasso]
X_new

Con la lasso avevo : 20 ora ne ho: 8
['SeniorCitizen', 'tenure', 'OnlineSecurity', 'TechSupport', 'Contract', 'PaperlessBilling', 'ChargesBin', 'MonthlyChargesBin']
Con la Ridge avevo : 20 ora ne ho: 9
['SeniorCitizen', 'PhoneService', 'OnlineSecurity', 'OnlineBackup', 'TechSupport', 'Contract', 'PaperlessBilling', 'ChargesBin', 'MonthlyChargesBin']

,SeniorCitizen,tenure,OnlineSecurity,TechSupport,Contract,PaperlessBilling,ChargesBin,MonthlyChargesBin
0,0,21,1,0,1,0,4,4
1,0,54,0,0,2,1,8,8
2,0,1,0,0,0,1,0,1
3,0,4,0,0,0,1,1,4
4,0,0,1,1,2,1,6,4
...,...,...,...,...,...,...,...,...
5629,0,1,1,0,0,1,1,8
5630,0,23,1,1,2,1,6,7
5631,0,12,0,0,0,1,2,1
5632,1,12,0,0,0,1,4,8
5633,0,26,0,0,1,0,2,0

## Divido il mio X e y in X_train ...

In [61]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_new, y, train_size=0.8, test_size=0.2,random_state=0)
X_test

,SeniorCitizen,tenure,OnlineSecurity,TechSupport,Contract,PaperlessBilling,ChargesBin,MonthlyChargesBin
4085,0,21,0,0,0,1,2,0
2689,0,72,1,1,2,0,8,6
2655,0,34,0,0,2,0,3,0
3888,1,69,1,0,0,1,8,6
1507,1,16,0,1,0,0,4,4
...,...,...,...,...,...,...,...,...
4826,1,1,0,0,0,1,1,7
3786,0,46,0,0,2,1,3,1
4136,0,35,0,0,0,1,7,7
4495,0,46,1,0,0,1,7,7
4320,0,10,0,0,0,1,1,1

In [62]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4507 entries, 1867 to 2732
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SeniorCitizen      4507 non-null   int64
 1   tenure             4507 non-null   int64
 2   OnlineSecurity     4507 non-null   int64
 3   TechSupport        4507 non-null   int64
 4   Contract           4507 non-null   int64
 5   PaperlessBilling   4507 non-null   int64
 6   ChargesBin         4507 non-null   int64
 7   MonthlyChargesBin  4507 non-null   int64
dtypes: int64(8)
memory usage: 316.9 KB

## Random Forest
>> **Random forest classifier è un algoritmo che genera alberi decisionali casuali e splitta il dtaset in tanti samples da dare in pasto a questi alberi (in modo tale da evitare l'overfitting)**
>>**L'algoritmo inoltre salva tutte le accuracy che vengono prodotte da questi alberi e restituisce una media di esse come accuracy finale dell' algoritmo**

>**assegno un n_estimator dinamico tra 1 a 100 (ho controllato se un numero superiore a 100 mi potesse aiutare , ma non è stato cosi :) ) il numero di stimatori mi dice a ogni iterazione quanti alberi casuali genera e di quanti ne fà la media**

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error
accuracy = []
for i in range(1,100):
    forest = RandomForestClassifier(n_estimators = i, random_state = 0)
    forest.fit(X_train,y_train)
    accuracy.append(forest.score(X_test,y_test))
#print ("L' accuracy del TEST è del ",forest.score(X_test,y_test))
#print("la MAE è: ", mean_absolute_error(y_test,forest.predict(X_test)))
plt.scatter(np.arange(1,len(accuracy)+1),accuracy)
#print (np.max(accuracy))
max_accuracy = np.max(accuracy)
max_index = 0
for j in range(0,len(accuracy)):
    
    if(accuracy[j]== max_accuracy):
        max_index=j
print ("L'accuracy massima è con :",max_index, "estimatori")
print ("L'accuracy massima è :",max_accuracy)

In [ ]:
from sklearn.tree import DecisionTreeClassifier as DT
depth = []
for i in range(1,50):
    tree = DT(criterion= 'entropy',max_depth = i, random_state = 0)
    tree.fit(X_train,y_train)
    #print ("L'accuratezza sul training con profondità ", i," è :",tree.score(X_train,y_train))
    #print ("L'accuratezza sul test con profondità ",i, "è :",tree.score(X_test,y_test))
    #print("la MAE a profondità",i," è: ", mean_absolute_error(y_test,tree.predict(X_test)))
    depth.append(tree.score(X_test,y_test))

plt.scatter(np.arange(1,len(depth)+1),depth)
plt.xlabel('profondita')
plt.ylabel("accuracy")
max_accuracy_DT = np.max(depth)
max_index_DT = 0
for j in range(0,len(depth)):
    
    if(depth[j]== max_accuracy_DT):
        max_index_DT=j
print ("L'accuracy massima è a profondità :",max_index_DT)
print ("L'accuracy massima è :",max_accuracy_DT)

In [60]:
!pip freeze > requirements.txt